<mat-toolbar class="nav"color="">
    <img src="https://pbs.twimg.com/profile_images/1227357022833774592/MwyJHtKg_400x400.jpg" alt="">
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Inicio</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/reportes">RegistrarAlumno</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>  
